<!-- Navbar using Bootstrap classes -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid"> <!-- Full-width container -->

    <!-- Brand logo or name linking to homepage -->
    <a class="navbar-brand" href="/">
      <i class="fa-regular fa-compass"></i> <!-- Font Awesome compass icon -->
    </a>

    <!-- Toggler button for small screens (mobile view) -->
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span> <!-- Bootstrap built-in icon -->
    </button>

    <!-- Collapsible part of the navbar for links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      <!-- Navigation links aligned horizontally -->
      <div class="navbar-nav">

        <!-- Home link -->
        <a class="nav-link" href="/">Home</a>

        <!-- Link to show all listings -->
        <a class="nav-link" href="/listings">All listings</a>

        <!-- Link to the "Add new listing" form -->
        <a class="nav-link" href="/listings/new">Add new listing</a>

      </div>
    </div>
  </div>
</nav>
