<style>
  .btn-search {
    background-color: #fe424d; /* Bootstrap primary color */
    color: white; /* Text color */
    border: none; /* No border */
    padding: 0 1rem 0 1rem; /* Padding for button */
    border-radius: 25px; /* Rounded corners */
  }
  .btn-search:hover {
   background-color: #fe424d; /* Bootstrap primary color */
    color: white; /* Text color */
  }
  .btn-search i {
   display:inline;
   margin-right:0.5rem
  }
</style>

<!-- Navbar using Bootstrap classes -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid"> <!-- Full-width container -->

    <!-- Brand logo or name linking to homepage -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i> <!-- Font Awesome compass icon -->
    </a>

    <!-- Toggler button for small screens (mobile view) -->
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span> <!-- Bootstrap built-in icon -->
    </button>

    <!-- Collapsible part of the navbar for links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      <!-- Navigation links aligned horizontally -->
      <div class="navbar-nav">

        <!-- Link to show all listings -->
        <a class="nav-link" href="/listings">Explore</a>

      

      </div>
      <div class="navbar-nav ms-auto"> <!-- Right-aligned links -->
         <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search Destination" aria-label="Search"/>
      <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
      </div>
       <div class="navbar-nav ms-auto"> <!-- Right-aligned links -->
          <!-- Link to the "Add new listing" form -->
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <!-- Conditional rendering based on user authentication -->
        <% if (!currUser) { %>
        <!-- Home link -->
        <a class="nav-link" href="/signup"><b>Sign Up</b></a>

        <!-- Link to show all listings -->
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
         <% if (currUser) { %>
        <!-- Link to the "Add new listing" form -->
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <%}%>

      </div>

    </div>
  </div>
</nav>
